h1, h2 {
    color: whitesmoke;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 32px;
}

div {
    width: 100%;
}

section {
      height: 80vh;
      width: 100vw;
  background-image: url('../../../assets/img/1_hero/JPG/hero_bg.jpg');
 background-repeat: no-repeat;
  background-position: 50% 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}