<div class="ourMenuContainer">
    <h1>OUR MENU</h1>
    <div class="menuContainer">
        <div class="menuCol">
            <img src="./../../../assets/img/3_section_our_menu/Png/R1.png" alt="">
            <div class="dish">
                <h2>Tonkatsu Ramen</h2>
                <div class="variations">
                    <div class="variationsRow">
                        <div>CHICKEN </div>
                        <div>11.95€</div>
                    </div>
                    <div class="variationsRow">
                        <div>BEEF</div>
                        <div>12.95€</div>
                    </div>
                    <div class="variationsRow">
                        <div>SHRIMP</div>
                        <div>13.95€</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menuCol">

            <div class="dish">
                <h2>Tonkatsu Ramen</h2>
                <div class="variations">
                    <div class="variationsRow">
                        <div>CHICKEN </div>
                        <div>11.95€</div>
                    </div>
                    <div class="variationsRow">
                        <div>BEEF</div>
                        <div>12.95€</div>
                    </div>
                    <div class="variationsRow">
                        <div>SHRIMP</div>
                        <div>13.95€</div>
                    </div>
                </div>
            </div>
            <img src="./../../../assets/img/3_section_our_menu/Png/R2.png" alt="">
        </div>
        <div class="menuCol">
            <img src="./../../../assets/img/3_section_our_menu/Png/R3.png" alt="">
            <div class="dish">
                <h2>Tonkatsu Ramen</h2>
                <div class="variations">
                    <div class="variationsRow">
                        <div>CHICKEN </div>
                        <div>11.95€</div>
                    </div>
                    <div class="variationsRow">
                        <div>BEEF</div>
                        <div>12.95€</div>
                    </div>
                    <div class="variationsRow">
                        <div>SHRIMP</div>
                        <div>13.95€</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>