@import './../../../../styles.scss';

@mixin dflex($jc, $ai) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}
@mixin boarderStyling($bStyle){
    border: 2px $bStyle whitesmoke;
    border-radius: 10px;

}

nav {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    >img {
        width: 64px;
        height: 64px;
        margin-left: 100px;
    }
    >div {
        display: flex;
        align-items: center;
        >a {
            font-size: 20px;
            &:hover{
                color: #ce0909;
            }
        };
        >img {
            width: 32px;
            height: 32px;
        }
    }
}

a {
    text-decoration: none;
    color: whitesmoke;
    margin-right: 16px;

}

.phone_btn {
    @include dflex(center, center);
    @include boarderStyling(solid);
    background-color: $dark_red;
    margin-right: 100px;
    margin-left: 8px;
    padding: 8px;
    &:hover {
        background-color: #ce0909;
    }
    >img {
        width: 24px;
        height: 24px;
        margin-right: 4px;
    }
}