<div class="howToOrder">
    <h1>HOW TO ORDER</h1>
    <div class="howToContainer">
        <div class="col"><img src="./../../../assets/img/2_section_how_to_order/PNG/noodle.png" alt="">
            <h2>Pick your noodle</h2>
        </div>
        <div class="col"><img src="./../../../assets/img/2_section_how_to_order/PNG/broth.png" alt="">
            <h2>Pick your broth</h2>
        </div>
        <div class="col"><img src="./../../../assets/img/2_section_how_to_order/PNG/egg.png" alt="">
            <h2>Add your toppings</h2>
        </div>

    </div>
</div>